@import "vars";
@import "global";
@import "fonts";
@import "blocks/forms";
@import "blocks/buttons";



//PROMO

@import "blocks/promo";
@import "blocks/header";



// ADVANTAGES

@import "blocks/advantages";

//CONSULTATION

@import "blocks/consultation";


// SLIDER

@import "blocks/carousel";

//CATALOG

@import "blocks/catalog";
