.button{
    padding: 10px 20px;
    background-color: $red;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    &-main{
        padding: 18px 40px;
        font-size: 16px;
        margin-bottom: 18px;
    }
}

@media(max-width: 380px){
    .button-main{
        margin-top: 25px;
        font-size: 15px;
        padding: 15px 20px;
    }
}