.catalog {
    padding-bottom: 100px;
    &__title {
        text-transform: uppercase;
    }
    &__tabs {
        margin-top: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
    }
    &__tab {
        width: 220px;
        height: 50px;
        border: solid 2px #d0d0d0;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        color: #6b6b6b;
        line-height: 48px;
        transform: skewX(-25deg);
        cursor: pointer;
        transition: 0.3s all;
        &:nth-child(2) {
            margin: 0 10px;
        }
        div {
            transform: skewX(25deg);
        }
        &_active {
            background-color: $redcolor;
            color: #fff;
            border-color: $redcolor;
        }
    }
    &__content {
        margin-top: 50px;
    }
    &__item {
        max-width: 300px;
        min-height: 440px;
        border: 2px solid #e8e8e8;
        padding: 20px 20px 26px 20px;
        overflow: hidden;
        &-img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
        }
        &-subtitle {
            margin-top: 20px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            color: #0d0d0d;
            margin-bottom: 16px;
        }
        &-descr {
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            color: #0d0d0d;
            margin-bottom: 17px;
        }
        &-link {
            font-size: 14px;
            font-weight: 500;
            display: block;
            text-align: center;
            color: $red;
            text-decoration: underline;
        }
        hr {
            margin: 19px 0 21px;
            background-color: #e8e8e8;
            border-bottom: none;
        }
        &-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-oldprices {
            font-size: 14px;
            font-weight: 300;
            color: #555555;
            text-decoration: line-through;
        }
        &-newprices {
            font-size: 20px;
            font-weight: bold;
            color: #050505;
        }
        &-wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &-content{
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);
            &_active{
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &-list{
            width: 50%;
            margin-left: 20px;
            transform: translateX(100%);
            &_acitve{
                transform: translateX(0%);
                margin-left: 0px;
            }
        }
    }
}
